<HTML><H1 ALIGN="CENTER">WELCOME TO DEVISE AUTHENTICATION </H1><HTML>

Welcome <%= current_user.email %> !!! not?<%= link_to "Sign Out",destroy_user_session_path,:method => :delete if user_signed_in? %>

